{% extends 'head.html' %}
{% load static %}
{%block css%}{%endblock%}

{% block content %}
<div class="container d-flex justify-content-center align-items-center flex-column">
    <h2 class="title">이용약관</h2>
    <div style="width: 60%; border: 1px solid #aaa; padding: 10px;">
        <h4>1. 개인정보의 수집 및 이용 목적</h4>
        당사는 고객의 개인정보를 다음과 같은 목적으로 수집 및 이용합니다.
        <br>
        서비스 제공 및 관리: 주문 처리, 결제 확인, 배송 등의 서비스 운영
        고객 상담 및 지원: 문의 및 요청에 대한 답변 제공
        마케팅 및 광고: 서비스 관련 정보 및 프로모션 안내
        <br>
        <h4>2. 수집하는 개인정보 항목</h4>
        당사는 다음과 같은 개인정보를 수집합니다.
        <br>
        필수항목: 이름, 연락처, 이메일, 배송지 주소
        선택항목: 생일, 관심사 등
        <br>
        <h4>3. 개인정보의 보유 및 이용 기간</h4>
        수집한 개인정보는 서비스 제공 목적이 달성될 때까지 보유하며, 이후에는 지체 없이 파기합니다. 단, 관련 법령에 따라 일정 기간 보관해야 하는 경우에는 해당 법령에 따릅니다.
        <br>
        <h4>4. 개인정보의 제3자 제공</h4>
        당사는 고객의 개인정보를 원칙적으로 외부에 제공하지 않으며, 다음과 같은 경우에만 제3자에게 제공할 수 있습니다.
        <br>
        고객의 동의를 받은 경우
        법령에 의거한 경우
        <br>
        <h4>5. 개인정보 보호를 위한 기술적 및 관리적 대책</h4>
        당사는 고객의 개인정보를 보호하기 위해 다음과 같은 노력을 기울입니다.
        <br>
        데이터 암호화 및 접근 제한
        정기적인 보안 점검 및 시스템 개선
        <br>
        <h4>6. 개인정보 관련 고객의 권리</h4>
        고객은 언제든지 자신의 개인정보 열람, 정정, 삭제를 요청할 수 있으며, 당사는 즉시 조치하겠습니다.
        <br>
        <h4>7. 개인정보 취급방침의 변경</h4>
        본 개인정보 취급방침은 법률 또는 회사 정책에 따라 변경될 수 있으며, 변경 시 웹사이트에 공지하겠습니다.
    </div>
</div>
{%endblock%}