@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a { 
    text-decoration:none !important ;
    color: #333;
}
a:hover { 
    text-decoration:none !important ;
    color: #333;
    font-weight: bold;
} 

.title {
    width: 400px;
    height: 40px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    margin-top: 3em;
}

#showDropdown {
    cursor: pointer;
}

.dropdown-container {
    display: none;
    background-color: rgba(170,170,170,0.4);
    position:absolute;
    width: 100%;
    height: 100vh;
    z-index: 998;
}

.dropdown-content {
    display: none; 
    background-color: #fff;
    width: 80%;
    z-index: 999;
    height: 300px;
}

.dropdownMenu{
    padding: 0;
}

.dropdownMenu li {
    list-style-type: none;
}

.dropdownMenu>li>div {
    position: absolute;
    height: 0px;
    overflow: hidden;
    margin-left: 200px;
}

.dropdownMenu>li.active>div {
    height: auto;
    top: 0px;
}

.dropdown-menu-a {
    display: block;
    width: 150px;
    height: 50px;
    background-color: #fa2d2d;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 1.2em;
}

.dropdown-menu-a:hover{
    font-weight: bold;
    color: #fff;
}

.dropdownMenu>li.active>a {
    background-color: #fff;
    color: black;
}

.goods {
    color: #333;
    line-height: 2em;
    font-size: 1.2em;
}

.see-more{
    float: right;
    color: gray;
    margin-right: 10px;
    font-size: small;
    line-height: 2.4em;
}

.main-color {
    background-color: #fa2d2d;
    color: #fff;
}

.main-color:hover{
    color: #fff;
}

.main-font-color{
    color: #fa2d2d;
}

.errorlist{
    padding: 0;
}

.error-msg {
    text-decoration: none;
    color: red;
}

.error-msg li {
    list-style-type: none;
}

.close-btn{
    cursor: pointer; 
    margin-left: -10px; 
    font-size: 2em; 
    border-radius: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[readonly] {
    background-color: #fff !important;
}

input[readonly]:focus {
    box-shadow: none; 
    border-color: #ced4da;
}

.base-table th {
    background-color: #eee;
    width: 150px;
    height: 3em;
    border: 1px solid #aaa;
    text-align: center;
}

.base-table td{
    border: 1px solid #aaa;
    width: 600px;
    padding: 0.5em;
}

.base-table>tfoot td {
    text-align: center;
    height: 100px;
}

.td-2 td{
    width: 300px;
}

.sidebar {
    height: 50vh;
    margin-right : 50px;
}

.sidebar>h3{
    margin-left: 15px;
}

.sidebar>h3 {
    margin-top: 3rem;
}
.sidebar>ul{
    padding: 0;
    width: 200px;
    border: 1px solid #aaa;
}
.sidebar>ul>li {
    background-color: #fff;
    height: 40px;
    padding: 6px;
    list-style-position:inside;
}
.sidebar a{
    color: #000;
    width: 100%;
    height: 100%;
    line-height: 2em;
}
.page-link {
    width: 37px;
    height: 40px;
    text-align: center;
    color: #333;
}

.page-link:hover{
    color: #333;
}

.page-link i {
    line-height: 1.7em;
    color: #333;
}

.page-item.active .page-link {
    background-color: #fa2d2d;
    border-color: #fa2d2d;
}

.hyphen {
    padding: 0; 
    text-align: center;
    width: auto;
    line-height: 2em;
}

.number-input{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.input-contents{
    width: 250px;
    background-color: white;
    padding: 3px;
}
.input-div{
    text-align: center;
}
.btn-submit{
    margin-top: 20px;
    width: 100%;
}

.left-top-text{
    text-align: left; 
    vertical-align: top; 
}

.no-focus-outline:active, .no-focus-outline:focus{
    outline:none !important;
    box-shadow:none !important;
    border:1px solid #ced4da
}

.form-small-input {
    width: 30%;
    float: left;
}

.image {
    max-width: 500px;
    width: 100%;
    height: 500px;
    margin-right: 20px;
}