{% extends 'head.html' %}
{% load static %}
{%block css%}{%endblock%}

{% block content %}
    <div class="container" style="margin-top: 100px; width: 70%;">
        <h2>글 작성</h2>
        <form method="post" action="{% url 'board:postWrite' category %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                {{form.title}}
                {% if form.title.errors %}
                <div class="text-danger">
                    {{ form.title.errors }}
                </div>
                {% endif %}
            </div>
            <div>
                {{form.content}}
                {% if form.content.errors %}
                <div class="text-danger">
                    {{ form.content.errors }}
                </div>
                {% endif %}
            </div>
            <div>
                {{form.image}}
                {% if form.image.errors %}
                <div class="text-danger">
                    {{ form.image.errors }}
                </div>
                {% endif %}
            </div>
            
            <button type="submit" class="btn main-color">쓰기</button>
        </form>
    </div>
    
{% endblock %}
{% block script %}
{% endblock %}